doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      h1= title
      br
      form(method='post', action='/')
        label(for='length') Password Length:
        select#length.form-control(name='length')
          if len
            option= len
          each val in [16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
            option= val
        br
        .checkbox
          label
            input#symbols(type='checkbox', name='symbols', value='true' checked=sym)
            | Include Symbols (ex. @#$%)
        .checkbox
          label
            input#numbers(type='checkbox', name='numbers', value='true' checked=num)
            | Include Numbers (ex. 123456)
        .checkbox
          label
            input#lowerCase(type='checkbox', name='lowerCase', value='true' checked=low)
            | Include Lower Case (ex. abcdefgh)
        .checkbox
          label
            input#upperCase(type='checkbox', name='upperCase', value='true' checked=upp)
            | Include Upper Case (ex. ABCDEFGH)
        .checkbox
          label
            input#similar(type='checkbox', name='similar', value='true' checked=sim)
            | Exclude Similar Characters (|ilLI`oO0)
        .checkbox
          label
            input#ambiguous(type='checkbox', name='ambiguous' value='true' checked=amb)
            | Exclude Ambiguous Characters ({}[]/\()'"`~,;:.<>)
        br
        input.btn.btn-default(type='submit' value="Generate")
        br
        br
        label(for='password') Password:
        input#txtPassword.form-control(type='text', name='txtPassword' value=pass)
        br
        label(for='remember') Remember:
        input#remember.form-control(type='text', name='remember' value=rem)